.top{
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}

.image {
    display: inline-block;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
    
}

.navigation{
    display: inline-block;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
   
}

.bars{
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;

    
}
.button{
    text-transform: uppercase;
    border: orangered;
    border: 5px solid;
    border-radius: 20px;
    padding: 7px 10px;
}